<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (errorMessage.length) { %>
      <div class="user-message user-message--error"><%= errorMessage %> </div>     
    <% } %>
    <form class="product-form" action="/admin/<%= editing?"edit-product":"add-product" %>" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input 
        class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
          placeholder="Add Title" 
          type="text" 
          name="title" 
          id="title" 
          value="<%= editing || hasError ? product.title.trim() : null%>">
      </div>
      <div class="form-control">
        <label for="imageUrl">Image URL</label>
        <input 
        class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
          placeholder="Add URL" 
          type="text" 
          name="imageUrl" 
          id="imageUrl" 
          value="<%= editing || hasError ? product.imageUrl.trim() : null%>">
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input 
        class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
          placeholder="Add Price" 
          type="number" 
          name="price" 
          id="price" step="0.01" 
          value="<%= editing || hasError ? product.price : null%>">
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <!-- everything between the <textarea> and </textarea> is considered as an input -->
        <textarea 
          class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>" 
          placeholder="Write Description" 
          name="description" 
          id="description" 
          rows="5"><%= editing || hasError ? product.description : null%></textarea>
      </div>
      <% if (editing) { %>
      <input type="hidden" name="productId" value="<%= product._id %>">
      <% } %>
      <button class="btn" type="submit"><%= editing?"Update Product":"Add Product" %></button>
      <!-- the name has to be _csrf -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
  </main>
  <%- include('../includes/end.ejs') %>